h1{
	font-family: "Lucida Console", Monaco, monospace;
}

h2{
	font-family: "Lucida Console", Monaco, monospace;
}

h3{
	font-family: "Lucida Console", Monaco, monospace;
}

h4{
	font-family: "Lucida Console", Monaco, monospace;
}

h5{
	font-family: "Lucida Console", Monaco, monospace;
}

h6{
	font-family: "Lucida Console", Monaco, monospace;
}

p{
	font-family: "Lucida Console", Monaco, monospace;
}

li{
	font-family: "Lucida Console", Monaco, monospace;
}

#menu {
	margin: 0 auto;
	font-family: "Lucida Console", Monaco, monospace;
}


#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
}

#menu li {
	display: inline;
}

#blueBackG{
	background: #36A8E1;
	color: #FFFFFF;
}

#grayBackG{
	background: #F7F8FA;
	color: #000000;
}

#whiteBackG{
	background: #FFFFFF;
	color: #000000;
}

.f-nav{  /* To fix main menu container */
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}